:root {
  --primaryFont: 'Outfit', sans-serif;
  --primaryBlack: #10141e;
  --secondaryBlack: #161d2f;
  --greyBlue: #5a698f;
  --white: #fff;
  --orange: #fc4747;
  --orangeHover: #f45a5a;
}
